<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="foundation" translate="label" sortOrder="1000000">
            <label>Foundation</label>
        </tab>
        <section id="foundation_cms" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Cms</label>
            <tab>foundation</tab>
            <resource>Foundation_Cms::cms</resource>
            <group id="featured_products" type="text" translate="label comment" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Featured Products</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sku" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product skus</label>
                    <comment>Specify comma separated list of product skus</comment>
                </field>
            </group>
        </section>
    </system>
</config>
